<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #92a0e0;">
  <!--<a class="navbar-brand" href="#">-->
    <img src="https://static.vecteezy.com/system/resources/previews/006/470/722/original/pet-shop-logo-design-template-modern-animal-icon-label-for-store-veterinary-clinic-hospital-shelter-business-services-flat-illustration-background-with-dog-cat-and-horse-free-vector.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
  <!--</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="home">HOME</a>
        </li>
        
       

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DOG
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">DOG GROOMING</a></li>
            <li><a class="dropdown-item" href="dogfoods">DOG FOODS</a></li>
            <li><a class="dropdown-item" href="dogtoys">DOG TOYS</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"> BREEDS</a></li> -->
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CAT
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">CAT GROOMING</a></li>
            <li><a class="dropdown-item" href="catfoods">CAT FOODS</a></li>
            <li><a class="dropdown-item" href="cattoys">CAT TOYS</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">BREEDS</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BIRD
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">BIRD GROOMING</a></li>
            <li><a class="dropdown-item" href="#">BIRD FOODS</a></li>
            <li><a class="dropdown-item" href="#">BIRD TOYS</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">BREEDS</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            FISH
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">AQUARIUM</a></li>
            <li><a class="dropdown-item" href="#">AQUARIUM SUPPLY</a></li>
            <li><a class="dropdown-item" href="fishfood">FISH FOOD</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">TYPES</a></li>
          </ul>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactus">CONTACT US</a>
        </li>



        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>     
            </ul>       
          </div>
    </nav>
    

		