<section class="section-intro">
    <header>
        <h1> Pet Lover’s Paradise</h1>
    </header>
</section>

<br><br>

<!-- carousel section -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<img src="http://c.files.bbci.co.uk/8B17/production/_110970653_gettyimages-1091878344.jpg" class="d-block w-100" alt="..." height="600">
</div>
<div class="carousel-item">
<img src="https://media.istockphoto.com/photos/parrot-picture-id1212750177?k=20&m=1212750177&s=612x612&w=0&h=jXdju2ut086qKvspxE45tP5TjIz-iRADQ8-kx4w6rBc=" class="d-block w-100" alt="..."  height="600">
</div>
<div class="carousel-item">
<img src="https://thumbs.dreamstime.com/b/group-goldfish-29121631.jpg" class="d-block w-100" alt="..."width="" height="600">
</div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div>

<br><br>
<section class="about-section">
<article>
<h3>
LOVE, TREAT, CARE FOR YOUR PET
</h3>

</article>
</section>

<div class="container text-center">
    
            <div class="row">
            <div class="col-3">
            <div class="card" style="width: 18rem;">
            <img src="https://cdn.fstoppers.com/styles/full/s3/media/2016/11/09/four-dogs-laying-in-grass.jpg" class="card-img-top"height="200px" alt="...">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-items">
              <a class="nav-link" href="#">GROOMING</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" href="dogfoods">FOOD</a>
              </li>
              <li class="nav-items">
                <a class="nav-link" href="#">TOY</a>
              </li>
              
          </ul>
        </div>
        
        <div class="card-body">
          <h5 class="card-title">DOGS</h5>
        
          <a href="#" class="btn btn-primary">HEY..HERE I'M</a>
        </div>
      </div>


      

      <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://thumbs.dreamstime.com/b/persian-cats-group-white-background-80148527.jpg" class="card-img-top" height="200px" alt="...">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-items">
              <a class="nav-link" href="#">GROOMING</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" href="#">FOOD</a>
              </li>
              <li class="nav-items">
                <a class="nav-link" href="#">TOY</a>
              </li>
              
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">CATS</h5>
          
          <a href="#" class="btn btn-primary">HEY..HERE I'M</a>
        </div>
      </div>
          
      
      <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://picfiles.alphacoders.com/293/thumb-1920-293225.jpg" class="card-img-top" height="200px" alt="...">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-items">
              <a class="nav-link" href="#">GROOMING</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" href="#">FOOD</a>
              </li>
              <li class="nav-items">
                <a class="nav-link" href="#">TOY</a>
              </li>
              
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">BIRDS</h5>
          
          <a href="#" class="btn btn-primary">HEY..HERE I'M</a>
        </div>
      </div>
      
      <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src="https://p1.pxfuel.com/preview/109/972/27/fish-rainbow-colors-aquarium-colorful.jpg" class="card-img-top"  height="200px" alt="...">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-items">
              <a class="nav-link" href="#">AQUARIUM</a>
            </li>
           
              <li class="nav-items">
                <a class="nav-link" href="#">FOOD</a>
              </li>
              
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">FISH</h5>
          
          <a href="#" class="btn btn-primary">HEY..HERE I'M</a>
        </div>
      </div>
      <br><br>
      <footer>
        <div class="t-center">
            <div class="row">
                <div class="col-md-4">
                    <h1>Useful Info</h1>
                    <p>Upcoming Discounts</p>
                    <p>Return Policy</p>
                    <p><a href="#">Privacy Policy</a></p>
                    <p>Terms of Use</p>
                </div>
                <div class="col-md-4">
                    <h1>About Us</h1>
                    <p>
                        We are a small company that loves<br> to see animals happy and well-treated.<br> Our products are 100% original<br> and safe for your pet.<br><br> Thank you for selecting us!
                    </p>
                </div>
                <br>
                <div class="col-md-4">
                    <h1>Find Us on:</h1>
                    <div class="media">
                        <ul>
                           
                            
                            
                            <li>
                                <a href="https://www.facebook.com/auebgreece" target="_blank">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/120px-Facebook_f_logo_%282019%29.svg.png" alt="Facebook Logo" class="fb"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/aueb.gr/?hl=el" target="_blank">
                                    <img src="https://lh3.googleusercontent.com/2sREY-8UpjmaLDCTztldQf6u2RGUtuyf6VT5iyX3z53JS4TdvfQlX-rNChXKgpBYMw" alt="Instagram Logo" class="insta"></a>
                            </li>
                        </ul>
                    </div>
                    <h1>Subscribe to our Newsletter:</h1>
                    <form action="">
                        <input type="email" placeholder="Email address" name="mail" size="30px">
                        <input type="reset" value="submit">
                           <!--just to erase the email-->
                          </form>
                        </div>
                    </div>
                    <hr>
                    <p>Copyright©2020 AniMall®</p>
                </div>
            </footer>
        
        
            </div>
    
    
    <script src=""></script>
